@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Roboto:wght@100;300;400;500;700;900&family=Titan+One&display=swap');
*{
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*
font-family: 'Gochi Hand', cursive;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Titan One', cursive;
*/

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/* BARRA NAVEGACION */

.barra-navegacion{
    display: flex;
    justify-content: center;
    background-color:#6f75e0;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    padding: 20px;
}

.contenedor-menu{
    width: 1000px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
 }

.link-navegacion{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    margin-right: 20px;
    font-weight: 300;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85d8f6;
    color: white;
    padding: 10px 20px;
    border-radius: 100px;
}

.menu-hamburguesa{
    display: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 40px;
}


/* SECCION PRESENTACION */

.seccion-presentacion{
    display: flex;
    justify-content: center;
    padding: 90px 40px;
}

.contenedor-presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1000px;
}

.presentacion-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.presentacion-txt h3{
    color: black;
    font-size: 35px;
    font-weight: 400;
}

.presentacion-txt h1{
    font-family: 'Handlee', cursive;
    font-size: 70px;
    color: #f93c64;
    font-weight: 900;  
}

.presentacion-txt p{
    font-size: 16px;
    margin-top: 20px;
    color: #5f524d;
    margin: 10px 0;
}

.boton-presentacion{
    color: #ffffff;
    background-color: #ffb000;
    padding: 15px 40px;
    border-radius: 100px;
    margin: 10px 0;
}

.presentacion-img {
    margin: 20px;
    width: 100%;
}


/* SECCION CONOCIMIENTOS */

.seccion-conocimientos{
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    padding: 90px 40px;
}

.conocimientos{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1000px;
}

.conocimientos h2{
    font-size: 45px;
    font-weight: 900;
    margin: 10px;
}

.parrafo{
    width:450px;
    margin: 30px;
} 

.contenedor{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
.tarjeta{
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    width: 260px;
    margin: 10px;
    padding: 30px;
}

.colored{
    font-size: 70px; 
    margin-top: 24px;
    margin-bottom: 20px; 
}

.txt{
    font-weight: 700;
    font-size: 18px;
    margin: 20px;   
 }


.colored{
    font-size: 70px;  
}

.txt{
    font-weight: bold;
    font-size: 20px;
    margin: 20px;   
 }

.tercera{
      background-color: #f93c64;
  }

.quinta{
    background-color: #f93c64;
  }