@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Handlee&family=Roboto:wght@100;300;400;500;700;900&family=Titan+One&display=swap');
*{
    margin:0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*
font-family: 'Gochi Hand', cursive;
font-family: 'Handlee', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Titan One', cursive;
*/

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


/* BARRA NAVEGACION */

.barra-navegacion{
    display: flex;
    justify-content: center;
    background-color:#6f75e0;
    padding: 20px;
}

.contenedor-menu{
    max-width: 1000px;
    width: 100%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
 }

.link-navegacion{
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    margin-right: 20px;
    font-weight: 300;
}


.link-navegacion:hover{
    color:#321e7c;
    font-weight: 500;
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #85d8f6;
    color: #6f75e0;
    padding: 10px 20px;
    border-radius: 100px;
}

.boton:hover{
    color: #ffffff;
    font-weight: 500;
}

.menu-hamburguesa{
    display: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-right: 40px;
}


/* SECCION PRESENTACION */

.seccion-presentacion{
    display: flex;
    justify-content: center;
    padding: 90px 40px;
}

.contenedor-presentacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
}

.presentacion-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.presentacion-txt h3{
    color: black;
    font-size: 35px;
    font-weight: 600;
}

.presentacion-txt h1{
    font-family: 'Handlee', cursive;
    font-size: 70px;
    color: #f93c64;
    font-weight: 900;  
}

.presentacion-txt p{
    font-size: 16px;
    margin-top: 20px;
    color: #858585;
    margin: 10px 0;
    font-weight: 300;
}

.boton-presentacion{
    color: #ffffff;
    background-color: #37e4b0;
    padding: 15px 40px;
    border-radius: 100px;
    margin: 10px 0;
}

.boton-presentacion:hover{
    color: #187e5f;
    font-weight: 500;
}

.presentacion-img {
    margin: 20px;
    width: 100%;
}


/* SECCION CONOCIMIENTOS */

.seccion-conocimientos{
    background-color: #f6f7fb;
    display: flex;
    justify-content: center;
    padding: 90px 40px;
}

.conocimientos{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    width: 100%;
}

.conocimientos h2{
    font-size: 45px;
    font-weight: 900;
    margin: 10px;
}

.parrafo{
    max-width:450px;
    margin: 30px;
} 

.contenedor{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 
.tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2e2e31;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 30px;   
}

.colored{
    font-size: 90px; 
    margin-top: 24px;
    margin-bottom: 20px; 
}

.txt{
    font-weight: 700;
    font-size: 18px;
    margin: 20px;   
 }


 /* SECCION QUOTE */

.seccion-quote{
      background-color: #f93c64;
      display:flex;
      justify-content: center;
      padding: 90px 40px;
 }

.quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    max-width: 1000px;
    width: 100%;
}

.fa-quote-right{
    color: #ffba9f;
    font-size: 70px;
    margin-bottom: 40px;
}

.quote p{
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
}

.quote h2{
    color: #ffba9f;
    font-family: 'Handlee', cursive;
    font-size: 45px;
    font-weight: bold;
    margin-top: 40px;
}

/* SECCION MIS PROYECTOS */

.seccion-proyectos{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 90px 40px;
 }

 .contenedor-proyectos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%; 
}

.contenedor-proyectos h2{
    text-align: center;
    font-size: 45px;
    font-weight: 900;
    margin: 10px;
}

.nav-proyectos{
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.menu-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    color: #8a8a8a;
    font-size: 20px;
    font-weight: 300;
    padding: 0;
}

.menu-proyectos li{
    margin-right: 25px;
}

.proyectos{
    display: flex;
    justify-content: center;
    max-width: 840px;
    width: 100%;
}

.contenido-proyectos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
 
.tarjeta-proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dddfe5;
    border-radius: 8px;
    width: 260px;
    margin: 10px;
    padding: 20px;
}

.imagen-proyecto{
    display: flex;
    
    justify-content: space-between;
    width: 100%;
}

.imagen-proyecto-hover{
    display: none;
    width: 200px;
}

a:hover .imagen-proyecto{
    display: none;
}

a:hover .imagen-proyecto-hover{
    display: block;
}

.tarjeta-proyectos p{
    color: #2e2e31;
    font-weight: 600;
    margin-top: 20px;
}

  /* SECCION FOOTER*/

  .seccion-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color:#6f75e0;
    color: white;
}

.contenedor-contacto{
    max-width: 1000px;
    width: 100%;
}

.menu-contacto{
    display: flex;
    justify-content: center;
    padding: 0;
}

.link-footer{
    color: #ffffff;
    font-size: 20px;
    font-weight: lighter;
    margin: 0 10px;
}

.link-footer:hover{
    color:#321e7c;
    font-weight: 500;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.redes i{
    width: 50px;
    height: 50px;
    background-color: white;
    color: #ff8ebb;
    border-radius: 50%;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    padding: 15px;
}

.autoria{
    text-align: center;
}


/* RESPONSIVE */

@media (max-width: 900px){
   
    /* SECCION PRESENTACION */
    .contenedor-presentacion {
        flex-direction: column;
    }
    .presentacion-txt{
        align-items: center;
        text-align: center;
        width: auto;
    }
    .presentacion-txt h1{
        font-size: 90px;
    }

    .presentacion-txt img{
        max-width: 500px;
        margin: 20px 0;
    }

    /* SECCION PROYECTOS */
    .nav-proyectos {
        flex-wrap: wrap;
    }
    .contenido-proyectos{
        max-width: 560px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 750px){
    
    /* SECCION PRESENTACION */
    .presentacion-txt h3{
        font-size: 40px;
    }
    .presentacion-txt h1{
        font-size: 80px;
    }
    .presentacion-txt p{
        font-size: 18px;
        margin: 20px 20px;
    }
}


@media  (max-width:600px){
 
   /* BARRA NAVEGACION */ 
    .menu li{
        display: none;
    }
    .menu-hamburguesa{
        display: block;
    }

     /* SECCION PRESENTACION */
    .seccion-presentacion{
        padding: 80px 10px;
    }    
    .presentacion-txt h3 {
        font-size: 30px;
    }
    .presentacion-txt h1{
        font-size: 70px;
    }
    .presentacion-txt p{
        font-size: 20px;
    margin: 20px 20px;
    }
   
    /* SECCION CONOCIMIENTOS - TARJETAS */
    .seccion-conocimientos{
        padding: 80px 10px;
    }   
    .conocimientos h2{
        font-size: 30px;
    }
    .conocimientos p{
        font-size: 15px;
    }
    .contenedor{
        align-items: center;
        justify-content: center;
    }
    .tarjeta{
        width: 200px;
        height: 200px;
    }
    

    /* SECCION QUOTE */
    .seccion-quote{
        padding: 80px 10px;
    }  
    .fa-quote-right{
        font-size: 50px;
        margin-bottom: 30px;
    }
    .quote p {
        font-size: 20px;
        line-height: 25px;
        max-width: 400px;
        width: 100%;
    }
    .quote h2{
        font-size: 35px;
    }
    /* SECCION PROYECTOS */
    .seccion-proyectos{
        padding: 80px 10px;
    }  
    .menu-proyectos {
        font-size: 15px;   
    }
    /*
    .contenido-proyectos{
        max-width: 280px;
    }*/
    .tarjeta-proyectos{
        width: 350px;
        
    }

    /* SECCION FOOTER */
    .seccion-footer{
        padding: 40px 10px 40px
    }
    .nav-footer {
        display: none;
    }
    .redes i{
        width: 40px;
        height: 40px;
         font-size: 20px;
        margin: 10px;
        padding: 10px;
    }
}
